<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳 or 分類"
            aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <a href="/restaurants/search"><button class="btn btn-major" type="submit" id="search-button"><i
                  class="fas fa-search"></i></button></a>
          </div>
          <div class="mb-3 mx-2">
            <input list="title-sort" name="sorting" class="form-control" style="width:150px" placeholder="sort by...">
            <datalist id="title-sort">
              <option value="a_to_z">A -> Z</option>
              <option value="z_to_a">Z -> A</option>
              <option value="category">類別</option>
              <option value="location">地區</option>
            </datalist>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">

  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <a href="./new">
        <button type="button" class="btn btn-outline-secondary mb-3">Create</button>
      </a>
      <div class="card-columns">
        {{#each restaurant}}
        <a class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}"
              onerror="this.src='https://cdn-icons-png.flaticon.com/512/3170/3170733.png'">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <div class="d-flex justify-content-end">
              <a href="/restaurants/{{this._id}}/edit"><button class="btn btn-link">Edit</button></a>
              <a href="/restaurants/{{this._id}}"><button class="btn btn-link">Detail</button></a>
              <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit">delete</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>